body, html {
    margin: 0;
    font-family: Roboto Slab;
    background-color: #185c6e;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;
    color: #f5f5ee;
}

h1, p {
    margin-right: auto;
    margin-left: 12%;
}


.login{
    border-radius: 2%;
    background-color: #f4f3f6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #185c6e;
    width: 30vw;
}

.login form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login form input[type=password], input[type=text]{
    border: 2px solid #f4f3f6;
    border-radius: 4px;
    padding: 10px;
    margin: 0px 0 0 0px;
    width: 70%;
    font-size: medium;
}

.login form input[type=submit]{
    border-radius: 20px;
    border: 0px;
    background-color:  #185c6e;
    color: #f4f3f6;
    padding: 12px 10px 12px 10px;
    margin: 10px 0 25px 0px;
    text-align: center;
    width: 75%;
    font-size: medium;
    cursor: pointer;
}

.login form input[type=submit]:focus{
    border: 5px
}