body, html{
    font-family: Roboto Slab;
}


/* F4F3F6
96A5C9
A1C8D4
7D8ABE
185C6E */

.topnav{
    background-color: #a1c8d4;
    width: 100vw;
    height: 10vh;
    justify-content: left;
    align-items: center;
    display: flex;
}

.topnav a {
    background-color: transparent;
    border: 0px;
    color: #f4f3f6;
    font-size: larger;
    font-family: Roboto Slab;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    margin-left: 2%;
}

.topnav a:focus{
    background-color: #96a5c9;
}

/* 

header {
    font-size: x-large;
}

.butao {
    position: absolute;
    right: 2%;
    top: 2%;
}

.container {
    margin: 0 auto;
    margin-top: 120px;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;  
    margin: 0 auto;  
}

table, td, th {
    border: 1px solid #000000;
    padding: 20px;
}

th {
    height: 30px;
}

td {
    text-align: center;  
    padding: 8px
} */